html, body {
	height: 100%;
	width: 100%;
}

.input-control {
	padding-bottom: 5px !important; 
}

h1 {
	padding: 0 !important;
	margin: 0 !important;
}

.box h1 {
	text-align: center;
}

label {
	margin: 0;
	padding: 0 !important;
}

.box {
	height: 100%;
}

.box form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}



